spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ms_user}
    username: ${DB_USER:prod_user}
    password: ${DB_PASSWORD:changeme}
  h2:
    console:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:https://your-auth-server.com/realms/prod-realm}